<!DOCTYPE html>
<html>
    <head>
        <!-- Remember I said we would tell you what to put here? Don't worry about these -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Nimal's RNG</title>
        <link rel="stylesheet" href="demo3.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1 class="heading">Nimal's RNG</h1>
        <h2 class="">Amuse yourself</h2>
        <!-- <div id='range'>
            <p>{{message}}</p>
            
            <input type="submit"> -->
        </div>
        <div id="app">
            <p>{{message}}</p>
            <p>{{range_mess}}</p>
            <form><input type="text" v-model="num"></form>
            <p style="color:red;font-size:40px;"></p><p>{{rng}}</p>
            <div v-if="toggle" class="divBackground">
                <button v-on:click="set_toggle">Generate!</button>
            </div>
            <br />
            
        </div>
        <script src="check3.js" ></script>
    </body>
</html>